$font-title: "Teko", sans-serif;
$font-text: "Dosis", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@import "./header";

@import "./history";

@import "./team";

@import "./newsletter";

@import "./contact";

@import "./footer";

@media screen and (max-width: 901px) {
  .history {
    width: 90%;
    text-align: center;

    .grid-2,
    .subgrid-2 {
      grid-template-columns: 1fr;
    }
  }

  .team {
    width: 90%;
    text-align: center;
    .grid-2,
    .subgrid-2 {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  .contact {
    width: 90%;
    text-align: center;

    .grid-2,
    .subgrid-2 {
      grid-template-columns: 1fr;
    }
  }

  .services {
    .grid-2 {
      width: 90%;
      text-align: center;
    }
    .grid-2,
    .subgrid-2 {
      grid-template-columns: 1fr;
    }
  }

  .newsletter {
    padding: 20px;
    text-align: center;

    .input-txt {
      width: 90%;
      margin: auto;
    }
  }

  .footer {
      display: block;

      div {
          margin: 10px 0;
      }
  }
}
